# Email Server Configuration
PORT=3001
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER="info.tianshani@gmail.com"
SMTP_PASS="tmkb gysf scwk llyc"
SMTP_FROM=info.tianshani@gmail.com
OWNER_EMAIL=info.tianshani@gmail.com
MAIL="info.tianshani@gmail.com"